@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300;400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*:focus,
*:active {
  outline: none;
}
body {
  font-family: "Roboto", sans-serif;
}
a {
  text-decoration: none;
  color: #000;
}
a:hover,
a:active {
  color: gray;
}

/* ====HEADER==== */
header {
  background-image: linear-gradient(
      to right bottom,
      rgba(0, 0, 0, 0.5),
      rgba(207, 207, 207, 0.5),
      transparent
    ),
    url(../src/images/header_bg.jpeg);
  height: 85vh;
  font-family: "Roboto", serif;
  background-size: cover;
  background-position: top;
  position: relative;
}
.random-recipe {
  margin: 0 auto;
  font-size: 0.8rem;
}
.recipe-search {
  text-align: center;
  margin-bottom: 1em;
}
.recipe-search input {
  margin-left: 3em;
}
.random-recipe-content p {
  overflow: hidden;
}
.card {
  margin-bottom: 1em;
}

/* ====HEADER END==== */
/* ====FOOTER==== */
.footer.row {
  background-color: #8b0303;
  color: white;
  justify-content: center;
  padding: 1em auto;
}
/* ====FOOTER END==== */

/* ====RECIPE PAGE==== */
.recipe-page {
  background-image: linear-gradient(
      to right bottom,
      rgba(0, 0, 0, 0.5),
      rgba(207, 207, 207, 0.5),
      transparent
    ),
    url(./images//header_bg.jpeg);
  background-size: cover;
  padding-bottom: 2em;
  font-size: 1rem;
}
.recipe-content {
  background-color: #fff;
  opacity: 0.7;
  margin: 0 auto;
}
.recipe-title {
  padding-top: 0.5em;
  font-weight: 700;
  line-height: 1.25em;
  font-size: 2.5rem;
}

.recipe-author {
  font-family: "Kanit", sans-serif;
}
.recipe-img {
  width: 100%;
  margin: 0.5em auto;
}
.recipe-info {
  border-right: 1px solid lightgrey;
}
.recipe-info > p,
.recipe-nutrition > p {
  font-weight: bold;
  font-size: 0.8em;
  margin: 0;
}
.recipe-info:last-child {
  border-right: none;
}
.recipe-nutrition {
  border-radius: 5px;
  background-color: #b1e1d0;
  margin: 0.5em auto;
  text-align: center;
}
.row {
  margin-top: 1em;
}
ul,
ol {
  margin-left: 1em;
}
/*==== RECIPE PAGE END ====*/

/*==== MEAL PLANNER PAGE END ====*/
.meal-planner {
  text-align: center;
  padding: 0 2em;
}
/*==== MEAL PLANER PAGE END ====*/

/* ====ERROR PAGE==== */
.error-page {
  padding-top: 5%;
  text-align: center;
  height: 100vh;
}

.error-page a {
  font-size: 2rem;
}

/* ====ERROR PAGE END==== */

/*===CONTACT PAGE==== */
.contact-form {
  background-image: linear-gradient(
      to right bottom,
      rgba(0, 0, 0, 0.5),
      rgba(207, 207, 207, 0.5),
      transparent
    ),
    url(./images//header_bg.jpeg);
  background-size: cover;
  height: 100vh;
  margin: 0 auto;
}
.contact-form form {
  max-width: 75%;
  margin: 0 auto;
  border-radius: 15px;
  padding: 2em;
  background-color: #fff;
  opacity: 0.8;
}
.form-control {
  margin-bottom: 0.5rem;
}
.contact-form button {
  width: 100%;
}

/*===CONTACT PAGE END==== */

/* Extra small devices (less than 575px) */
@media (max-width: 575px) {
  /* ====HEADER==== */

  /* ====HEADER==== */
  /*====FOOTER==== */
  .footer.row {
    font-size: 1rem;
    line-height: 2em;
    text-align: center;
  }
  /* ====FOOTER==== */
  /* ====Recipe Page==== */
  .recipe-content {
    width: 95%;
    font-size: 0.8rem;
  }
  .recipe-title {
    font-size: 2rem;
  }

  .recipe-nutrition:first-child {
    margin-left: 1em;
  }
  .recipe-info:nth-child(2) {
    border-right: none;
  }
  .recipe-info:first-child,
  .recipe-info:nth-child(2) {
    margin-bottom: 1em;
  }
  /* ====Recipe Page==== */
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  /* ====HEADER==== */
  header {
    height: 85vh;
  }
  /* ====HEADER==== */
  /* ====HOME BODY==== */
  .recipes.container {
    padding-left: 3em;
  }
  .recipe-search {
    padding-left: 5.5em;
  }
  /* ====HOME BODY==== */
  /* ====Recipe Page==== */
  .recipe-content {
    padding-left: 2.5em;
  }
  .recipe-nutrition {
    margin-left: 0.5em;
  }
  /* ====Recipe Page==== */
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  /* ====HEADER==== */
  header {
    height: 70vh;
  }
  .random-recipe {
    font-size: 1.2rem;
  }
  .random-recipe-content {
    margin-top: 3em;
  }
  /* ====HEADER==== */
  /* ====Recipe Page==== */
  .recipe-content {
    width: 80%;
    margin: 0 auto;
  }

  .recipe-nutrition {
    text-align: center;
  }
  .recipe-nutrition:first-child {
    margin-top: 2em;
  }
  /* ====Recipe Page==== */
}
/*Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  /* ====HEADER==== */
  header {
    height: 55vh;
  }

  /* ====HEADER==== */
  /* ====FOOTER==== */
  .footer.row {
    font-size: 1.2rem;
    line-height: 4em;
  }
  /* ====FOOTER==== */
  /* ====Recipe Page==== */
  .recipe-content {
    width: 75%;
    margin: 0 auto;
  }
  .recipe-nutrition:first-child {
    margin-top: 2.5em;
  }
  /* ====Recipe Page==== */
}

/*Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  /* ====HEADER==== */

  /* ====HEADER==== */
  /* ====Recipe Page==== */
  .recipe-content {
    width: 65%;
    margin: 0 auto;
  }
  .recipe-nutrition:first-child {
    margin-top: 3.5em;
  }
  /* ====Recipe Page==== */
}
